body {
	font-family: 'Mukta Malar', sans-serif;
}
a {
	text-decoration:none;
}

#prvastranica {
	width:auto;
	height:auto;
	background-image:url("../slike/velikaslika1.png");
	background-size:content;
	padding-bottom:200px;
	padding-top:100px;
}
.mojnav  li a{
	color:#fff;
	font-weight:bold;
	font-size:25px;
	letter-spacing:3px;
}
.mojnav  li a:hover {
	background-color:transparent;
}
.naslov {
	margin-top:10%;
}
.hr {
	width:60%;
	height:5px;
	background-color:#b53948;
	border:none;
}
.h1{
	font-size:60px;
	letter-spacing:3px;
	margin-top:50px;
}
.h5{
	font-size:22px;
	margin-bottom:50px;
}
.medjustranica {
	width:100%;
	height:auto;
	background-color:#242131;
	padding-top:70px;
	padding-bottom: 50px;
}
.hr1 {
	width:12%;
	height:5px;
	background-color:#b53948;
	border:none;
}
.h2{
	font-size:55px;
	letter-spacing:3px;
	color:#fff;
	margin-bottom:50px;
}
.p {
	color:#fff;
	margin-bottom:50px;
	margin-top:30px;
}
.h6{
	color:#fff;
	padding:20px 30px;
	border:2px solid #fff;
}
.h6 a {
	text-decoration:none;
	color:#fff;
}
#trecastranica {
	height:auto;
	width:100%;
	background-color:#c2c2c2;
}
#slika1{
	background-image:url("../slike/ms1.png");
	background-size:cover;
	height:325px;
	max-width:100%;
	background-repeat:no-repeat;
	padding-top:40px;
}
#slika2{
	background-image:url("../slike//ms2.png");
	background-size:cover;
	height:325px;
	max-width:100%;
	background-repeat:no-repeat;
	padding-top:40px;
}
#slika3{
	background-image:url("../slike/ms3.png");
	background-size:cover;
	height:325px;
	max-width:100%;
	background-repeat:no-repeat;
	padding-top:40px;
}
#slika4{
	background-image:url("../slike/ms4.png");
	background-size:cover;
	height:325px;
	max-width:100%;
	background-repeat:no-repeat;
	padding-top:40px;
}
.h3{
	font-size:30px;
	letter-spacing:3px;
	color:#fff;
	margin-bottom:20px;
	margin-top:25px;
}
.form-control::placeholder{
	text-align:center;
}
.mojaforma {
	margin:20px 0px;
	background-color:transparent;
	border:none;
	border-bottom:3px solid #b53948;
}
.dugme {
	background-color:transparent;
	padding:15px 40px;
	color:#fff;
	border-radius:0px;
}
.dugme:hover {
	background-color:#b53948;
	color:#fff;
}
#s1{
	background-image:url("../slike/s1.jpg");
	background-size:cover;
	height:325px;
	max-width:100%;
	background-repeat:no-repeat;
	padding-top:40px;
}
#s2{
	background-image:url("../slike/s2.jpg");
	background-size:cover;
	height:325px;
	max-width:100%;
	background-repeat:no-repeat;
	padding-top:40px;
}
#s3{
	background-image:url("../slike/s3.jpg");
	background-size:cover;
	height:325px;
	max-width:100%;
	background-repeat:no-repeat;
	padding-top:40px;
}
#s4{
	background-image:url("../slike/s4.jpg");
	background-size:cover;
	height:325px;
	max-width:100%;
	background-repeat:no-repeat;
	padding-top:40px;
}
#s5{
	background-image:url("../slike/s5.jpg");
	background-size:cover;
	height:325px;
	max-width:100%;
	background-repeat:no-repeat;
	padding-top:40px;
}
#s6{
	background-image:url("../slike/s6.jpg");
	background-size:cover;
	height:325px;
	max-width:100%;
	background-repeat:no-repeat;
	padding-top:40px;
}
#footer {
	width:100%;
	height:auto;
	background-image:url("../slike/velikaslika2.png");
	background-size:content;
	padding-top:120px;
	background-repeat:no-repeat;
	padding-bottom:50px;
}
#footer .blok {
	background-color: #b53948;
}
#footer .blok a {
	color: #fff;
	font-size: 18px;
}
#autorstranica {
	width:100%;
	height:auto;
	background-image:url("../slike/autorpozadina.jpg");
	background-size:cover;
	padding-top:50px;
	background-repeat:no-repeat;
	padding-bottom:50px;
}
#autorslika {
	background-image:url("../slike/autorslika.jpg");
	background-size:cover;
	min-height: 480px;
	max-width:100%;
	background-repeat:no-repeat;
}
.autornaslov{
	color:#000;
	margin-bottom: 50px;
}
.hautor {
	margin-top: 10px;
	margin-bottom: 30px;
	color:#000;
}
#autorstranica p {
	font-size: ;
	color:#000;
}
